<% include header %>
<div class="clearfix">
    <div class="row-fluid">
        <% shops.forEach(function(shop){ %>
        <div class="food-item col-xs-6 col-sm-3">
            <h3><a href="/shop/<%= shop._id %>"><%= shop.name %></a></h3>
            <p><em>地址：</em><%= shop.address %><br/><em>电话：</em><%= shop.tel %></p>
            <a href="/shop/<%= shop._id %>"><img src="/images/shop/1.png"/></a>
        </div>
        <% }) %>
    </div>
</div>
<% include footer %>